@charset "UTF-8";
.red {
  color: red;
  border: 1px solid red;
}

.border {
  border: solid 5px red;
  /*5px 像素的拼接*/
  color: red;
  display: block;
  transform: translate(1);
}

#content article h1 {
  color: red;
}

#content article p {
  margin-bottom: 1px;
}

#content aside {
  background-color: #eee;
}

article a {
  color: red;
}

article a:hover {
  color: red;
}
